/****************************
GENERAL
*************************/
body{
  font-family: 'Open sans', sans-serif;
}
a {
  text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}
img{
  max-width: 100%;

}
/****************************
HEADING
*************************/
header{
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}
#logo{
  text-align: center;
  margin: 0;
}
/*https://fonts.google.com/?query=days&selection.family=Days+One*/
h1{
  font-family: 'Days-One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;

}
h2{
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}
/****************************
PAGINA: POTAFOLIO
*************************/
#gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li{
  float:left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bcd3c7;
}
#gallery li a p{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}
/****************************
NAVIGATION
*************************/
nav{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}
nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}
nav li{
  display: inline-block;
}
nav a{
  font-weight: 800;
  padding: 15px 10px;
}

/****************************
FOOTER
*************************/
footer{
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
  clear: both;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
/****************************
COLORS
https://www.w3schools.com/colors/colors_picker.asp
*************************/
/*LINKS*/
a{
  color: #4bd8ff;
}

/*ENCABEZAO*/
header{
  background: #19334d;
  border-color: : #336699;
}
/*TEXTO DEL LOGO*/
h1,h2{
  color: #fff;
}
/* NAVEGACION */
nav{
  background: #336699;
}
/* LINKS DE NAVEGACION */
nav a, nav a:visited{
  color: #fff;
}
/* LINKS SELECCIONADOS */
nav a.selected, a:hover{
  color: #008ae6;
}
/* CUERPO*/
body{
  background-color: #fff;
  color: #999;
}
